body{
  width: 90%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  background-color:#f9f9f9;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
body a:link{
  text-decoration: none;
}
body a:hover{
    font-weight: bold;
    color: tomato;
}
.navbar{
  margin-bottom: 2em;
}

/* pre{
  font-family: 'Amatic SC', cursive;

} */
hr{
    border-top: 1px solid #D3D3D3;
}
.contacts p {
  margin-bottom:2em;
  font-family: 'Tangerine', cursive;
  font-size: 2.5em;
}
h1{
  font-weight: 400;
}

h2{
  font-weight: 300;
}
.contacts{
  margin-bottom: 2em;
}
/* Media 320px size*/
/* @media screen and (min-width: 320px){ */
  body a:visited{
    color: tomato;
  }
  body a:hover{
    background-color: #fff;
    color:tomato;
  }

.header-main{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 320px;

}
.Profile{
    display: flex;
    flex-direction: column;
}

.profile-image{
  margin-top: 10px;
width: 70%;
}
.navbar{

width: 100%;

}
.menu{
  text-transform: uppercase;
  padding: 0;
}
.menu li{
  display: block;
  padding: 10px 0 10px 0;
  background-color: #fff;
  margin-bottom: 5px;
}
#student-name{
    text-transform: uppercase;
}
.container{
  min-width: 320px;
}
.portfolio-images{
width: 90%

}
/*==============
  skills styling
================================*/
  .skills-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    /* height: 12.5em; */

  }
  .skills{
    height:3.25em;
    width: 100%;
    margin-top:2em;
    border-radius:0.3em;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color:#fff;
    color: #42f4d4;

  }
 .skills span{
   padding-top:1em;
 }
 .skills:hover{
   border: 3px solid #c4c7d1;
   transform: scale(1.05);
   color: tomato;
   transition: all 0.5s ease-out;

 }
  /* end of skills styling*/
.footer-nav{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  font-size: 10px;
  font-weight: normal;
  padding:0;
}
.student-name-bottom{
  margin-left: 5px;
}
.to-top{
  margin-left: 0;
  margin-right: 5px;
}
.footer-menu {
display:none;
}

.footer-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: tomato;
  color: #fff;
  font-size: 1em;
  height:3.5em;
  padding: 0;

}
.footer-nav a:visited{
  color: #fff;
}
.footer-nav a:hover{
  color: tomato;
}
 /* } */


/* Media 768px min size*/
@media screen and (min-width: 600px) {
  body a:visited{
    color: #fff;
  }
  body a:hover{
    background-color: #fff;
    color:tomato;
  }

  .header-main{
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;

  }
  .profile{
    display: flex;
    flex-direction: row-reverse;
  }
  .profile-image{
    margin-top: 10px;
    margin-left: 10px;
    flex-grow: 1;
    width: 100%;
    min-width: 250px;
  }
  .profile> p{
    flex-grow: 1;
    margin-right: 10px;
    text-align: justify;
  }


  .menu{
    text-transform: uppercase;
    padding: 0;
  }
  .menu li{
    display: inline;
    margin: 0 30px 0 30px;
    margin-bottom: 5px;
    background-color:transparent;
  }
  #student-name{
      text-transform: uppercase;
  }
  .container-main{
      background-color: #fff;
      padding:30px 15px;
  }
  .container{
    margin-top:3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

  }
  #porfolio{
    margin-top: 2em;
  }

  .portfolios{
    flex-basis: 49%;
    text-align: center;

  }
  .portfolios>p{

  }
  .portfolio-images{
    width: 100%;
    min-width: 250px;

  }
.portfolios-legend{
      text-align: center;
  }
.portfolios-legend{
  margin: 20px 30px 20px 30px;
}
/*==============
  skills styling
================================*/
  .skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    height: 12.5em;

  }
  .skills{
    height:6.25em;
    width: 6.25em;
    border-radius: 50%;
    margin-top:2em;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border: 3px solid #f9f4f4;
    background-color:#fff;
    color: #42f4d4;
  }
 .skills span{
   padding-top: 2.5em;
 }
 .skills:hover{
   border: 3px solid #c4c7d1;
   transform: scale(1.2);
   color: tomato;
   transition: all 0.5s ease-out;

 }
  /* end of skills styling*/
.student-name-bottom{
  font-size: 1.3em;
}
  .to-top{
    display: none;
  }
  .footer-menu{
  display: inline;

  }

    .footer-nav{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: tomato;
      color: #fff;
      font-size: 1em;
      height:3.5em;
      padding: 0;

    }

    .footer-menu li{
      margin:0 1em;
      display: inline;
    }

}
/*
/* Media 1024px size*/
@media screen and (min-width: 1024px) {

  .navbar{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: tomato;
    color: #fff;
    height:3.5em;
    border-radius: 5px;
    padding: 0;
  }
  #student-name{
    font-size: 1.5em;
  }


  body a:visited{
    color: #fff;
  }
  body a:hover{
    background-color: #fff;
    color:tomato;
  }

  .student-name{
    padding: 0;
  }

  .profile-image{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 500px;
  }
    .portfolios{
      flex-basis: 30%;
      text-align: center;

    }
    .portfolios>h2{

    }
    .portfolio-images{
      width: 100%;
      min-width: 300px;

    }
  .portfolios-legend{
        text-align: center;
    }
  .portfolios-legend{
    margin: 20px 30px 20px 30px;
  }
/*==============
  skills styling
================================*/
  .skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    height: 12.5em;

  }
  .skills{
    height:6.25em;
    width: 6.25em;
    border-radius: 50%;
    margin-top:2em;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border: 3px solid #f9f4f4;
    background-color:#fff;
    color: #42f4d4;
  }
 .skills span{
   padding-top: 2.5em;
 }
 .skills:hover{
   border: 3px solid #c4c7d1;
   transform: scale(1.2);
   color: tomato;
   transition: all 0.5s ease-out;

 }
  /* end of skills styling*/
  .footer-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: tomato;
    color: #fff;
    font-size: 1em;
    height:3.5em;
    padding: 0;

  }

  .footer-menu li{
    margin:0 30px;
  }
}
